@import "../../_globalColor";

.reel-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
  margin-top: 0rem;
}

.reel-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.reel-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .reel-container {
    flex-direction: column;
  }

  .reel-video-container {
    margin-top: 0;
  }
}