@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.skill-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  color: $skillsColor;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
  overflow: hidden
}

.skill-circle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.software-skill-inline:hover .skill-circle {
  transform: scale(1.2);
}

// .software-skill-inline:hover > p {
//   display: block;
// }

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;

  @media (prefers-color-scheme: dark) {
    .skill-circle {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.36);
      filter: drop-shadow(0 1px 3px rgba(255, 255, 255, 0.24)), drop-shadow(0 1px 2px rgba(255, 255, 255, 0.36));
    }
  }
}
